# DaemonSet
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: block-procscan
  namespace: block-system
  labels:
    app: block-procscan
spec:
  selector:
    matchLabels:
      app: block-procscan
  template:
    metadata:
      labels:
        app: block-procscan
    spec:
      hostNetwork: true
      hostPID: true
      serviceAccountName: block-procscan
      containers:
        - name: scanner
          image: layzer/block-procscan:v0.0.3-alpha-1
          imagePullPolicy: Always
          command: ["/manager"]
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          args:
            - "--config=/config/config.yaml"
          securityContext:
            privileged: true
            runAsUser: 0
          volumeMounts:
            - name: proc
              mountPath: /host/proc
              readOnly: true
            - name: config
              mountPath: /config
              readOnly: true
            - name: containerd-sock
              mountPath: /var/run/containerd/containerd.sock
              readOnly: false
          resources:
            limits:
              memory: 512Mi
              cpu: 500m
            requests:
              memory: 64Mi
              cpu: 50m
      volumes:
        - name: proc
          hostPath:
            path: /proc
            type: Directory
        - name: config
          configMap:
            name: block-procscan-config
            defaultMode: 0644
        - name: containerd-sock
          hostPath:
            path: /var/run/containerd/containerd.sock
            type: Socket
