---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: block-controller-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.clawcloud.run
  resources:
  - blockrequests
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.clawcloud.run
  resources:
  - blockrequests/status
  verbs:
  - get
  - patch
  - update
