# DaemonSet
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: block-procscan
  namespace: block-system
  labels:
    app: block-procscan
    component: security-scanner
    managed-by: block-procscan
spec:
  selector:
    matchLabels:
      app: block-procscan
      component: security-scanner
  template:
    metadata:
      labels:
        app: block-procscan
        component: security-scanner
        managed-by: block-procscan
    spec:
      hostNetwork: true
      hostPID: true
      serviceAccountName: block-procscan
      containers:
        - name: scanner
          image: layzer/block-procscan:v1.0.0-alpha
          imagePullPolicy: Always
          command: ["/manager"]
          args:
            - "--config=/config/config.yaml"
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          securityContext:
            privileged: true
            runAsUser: 0
          ports:
            - name: metrics
              containerPort: 8080
              protocol: TCP
          volumeMounts:
            - name: proc
              mountPath: /host/proc
              readOnly: true
            - name: config
              mountPath: /config
              readOnly: true
          resources:
            limits:
              memory: 512Mi
              cpu: 500m
            requests:
              memory: 64Mi
              cpu: 50m
      volumes:
        - name: proc
          hostPath:
            path: /proc
            type: Directory
        - name: config
          configMap:
            name: block-procscan-config
            defaultMode: 0644
